<div class="col-md-12">
  <a routerLink="/users/add" class="btn btn-btn-xs btn-info btn-block">
    Añadir usuario
  </a>
      
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th >
            <div class="btn-group" role="group">
                <button id="btnFiltroIsActive" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{filtroIsActive}}
                </button>
                <div class="dropdown-menu" aria-labelledby="btnFiltroIsActive">
                  <a class="dropdown-item" (click)="filtrarIsActive('Todos')">Todos</a>
                  <a class="dropdown-item" (click)="filtrarIsActive('Activos')">Activos</a>
                  <a class="dropdown-item" (click)="filtrarIsActive('Inactivos')">Inactivos</a>
                </div>
              </div>
          </th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody *ngIf="users">
      <tr *ngFor="let user of users">
        <td> {{user.id}} </td>
        <td> {{user.isActive}} </td>
        <td> {{user.name}} </td>
        <td> {{user.email}} </td>
        <td> 
          <a [routerLink]="['/users', user.id, 'detail']" 
            class="btn btn-xs btn-info"
          >Detalle</a>
          <a [routerLink]="['/users', user.id, 'edit']" 
            class="btn btn-xs btn-primary"
          >Editar</a>
          <a (click)="remove(user)" 
            class="btn btn-xs btn-danger"
          >eliminar</a>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>