<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="center"> {{h1Text}} </h1>

      <form 
        novalidate
        (ngSubmit)="submit()"
        #userForm="ngForm"
      >
        <div class="form-group">
          <label for="username">Name</label>
          <input 
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
            [(ngModel)]="user.name"
            #username="ngModel"
          >
          <div [hidden]="username.valid || username.pristine" class="text-warning">
            El username es requerido
          </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input 
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
              [(ngModel)]="user.email"
              #email="ngModel"
            >
            <div [hidden]="email.valid || email.pristine" class="text-warning">
              El email es requerido
            </div>          
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input 
              type="checkbox"
              class="form-check-input"
              #isactive="ngModel"
              [(ngModel)]="user.isActive"
              name=isActive
            >
            Está activo?
          </label>
        </div>
          
        <button
          [disabled]="!userForm.valid"
          class="btn btn-block btn-primary"
          type="submit"
        >
          {{ submitText }}
        </button>
        
        <a routerLink="/crud" class="btn btn-primary btn-block">Volver al listado</a>
      </form>
    </div>
  </div>
</div>