<div class="row" *ngIf="user">
  <div class="col-md-8 offset-2">
    <div class="card text-center">
      <div class="card-header">
        {{ user.id }}
      </div>
      <div class="card-block">
        <h4 class="card-title"> {{user.name}} </h4>
        <p class="card-text"> {{user.email}} </p>
        <p class="card-text"> {{user.isActive ? 'Activo' : 'Inactivo'}} </p>
        <a routerLink="/crud" class="btn btn-primary btn-block"> Volver al listado</a>
      </div>
    </div>
  </div>

</div>